button {
  &.delete {
    cursor: pointer;
    position: absolute;
    right: -6rem;
    top: 0;
    bottom: 0;
    width: 6rem;
    outline: none;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, var(--color-background-secundary-dark) 30%);

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;

    transition: all .3s;
    
    &.confirmation {
      color: red;
    }
  }
}
