.food-list {
    .red {
        color: var(--color-red);
    }

    .blue {
        color: var(--color-blue);
    }
    
    .yellow {
        color: var(--color-yellow);
    }

    .food-container {
        cursor: pointer;
        position: relative;
        overflow: hidden;

        &:hover {
            & > button {
                right: 0;
            }
        }
    }
}
