.modal {
  & {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(0,0,0,0.5);
    height: 100vh;
  }
  &.active {
    display: flex;
  }
  
  .container {
    & {
      position: relative;
      background: var(--color-background-secundary);
      min-height: 50rem;
      border-radius: 2rem;

      display: flex;
      flex-direction: column;
    }

    header {
      background-color: var(--color-background-secundary-dark);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      padding: 1.5rem 0;
      border-top-right-radius: 1rem;
      border-top-left-radius: 1rem;
    }
    
    & > button {
      position: absolute;
      text-align: right;
      display: block;
      background: transparent;
      cursor: pointer;
      font-size: 3rem;
      
      right: -2rem;
      top: -6rem;
    }
  }
}