{
  "type": "postgres",
  "host": "localhost",
  "port": 5432,
  "username": "postgres",
  "password": "secret",
  "database": "myfit",
  "entities": ["dist/**/*.entity{.ts,.js}"],
  "synchronize": true
}