#questions {
    & {
        padding: 2rem 0;
    }
    .input-group {
        & {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .input-block,
        .select-block {
            width: 47%;
        }
    }
}