#results {
	& {
		display: flex;
		flex-direction: column;
		max-width: 500px;
		margin: auto;
	}

	h1 {
		text-align: center;
		font-size: 4rem;
		margin-bottom: 2rem;
	}

	.profile-results {
		div {
			display: flex;
			justify-content: space-between;
			margin: 2rem 0;
		}

		span {
			text-align: right;
		}
		strong,
		span {
			font-size: 1.5rem;
		}

		.fa{
			color: var(--color-orange);
			text-align: justify;
		}
	}

	span {
		font-weight: normal;
	}

	a {
		color: #fff;
		text-align: center;
		text-decoration: none;
		margin: 1rem auto;
		display: block;
	}

	.macros {
		& {
			display: flex;
			justify-content: space-between;
			text-align: center;
			margin: 2rem 0;
		}

		strong,
		span {
			font-size: 1.6rem;
		}
		strong {
			font-weight: bold;
			display: block;
		}
		span {
			font-weight: 300;
			display: block;
		}
	}

	.font-red {
		color: var(--color-orange);
	}

	.font-blue {
		color: var(--color-blue);
	}

	.font-yellow {
		color: var(--color-yellow);
	}
}

@media (min-width: 1000px) {
	#results {
		.macros {
			strong,
			span {
				font-size: 2.5rem;
			}
		}
		.profile-results {
			strong,
			span {
				font-size: 2rem;
			}
		}
	}
}